<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:toos="http://schemas.android.com/tools"
    package="com.stormers.storm">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name=".ui.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/storm_app_icon"
        android:label="STORM"
        android:largeHeap="true"
        android:roundIcon="@mipmap/storm_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        toos:replace="android:label">


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/loginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.AddProjectActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.MemberRoundWaitingActivity" />
        <activity android:name=".ui.ParticipatedProjectListActivity" />
        <activity android:name=".ui.ParticipatedProjectDetailActivity" />
        <activity android:name=".ui.RoundFinishActivity" />
        <activity android:name=".ui.RoundListActivity" />
        <activity android:name=".ui.RoundMeetingExpandActivity" />
        <activity android:name=".ui.RoundProgressActivity" />
        <activity android:name=".ui.RoundSettingActivity" />
        <activity android:name=".ui.RoundStartActivity" />
        <activity android:name=".ui.ScrapCardCollectingActivity" />
        <activity android:name=".ui.ScrapedCardDetailActivity" />
        <activity android:name=".ui.MypageActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.stormers.storm.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>